body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: '#6c7279';
    -webkit-font-smoothing: anti-aliased;

    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

}

p {
    margin: 0 0 10px 0;
}

/* Container
==================*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* header
==================*/


.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    padding: 35px 0;
    align-items: center;


    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;

}

/* Nav
==================*/
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity .1s
    linear;
}

.nav__link:first-child {
    margin-left: 0;
}
.nav__link:hover {  
    opacity: 1;
}


/* Intro
==================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;

    background: #31344e url(img/Header/bg.jpg) center
    no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;

}

.intro__title {
    margin: 0 0 30px 0;

    font-family: 'Open Sans',
    sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    margin-bottom: 60px;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
}

/* Button
==================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 15px 40px 15px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: inherit;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: .1s;
}

.btn--red {
    background-color: #e84545;

}

.btn--red:hover {
    background-color: #dd3434;
}

.btn--long {
    min-width: 280px;
}


/* Features
==================*/
.features {
    margin: 95px 0 0 0;
    display: flex;

    flex-wrap: wrap;
}

.features__item {
    width: 33.33333%;
    padding: 0 30px;
    margin: 25px 0;

    text-align: center;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.features__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}


/* Works
==================*/
.works {
    display: flex;
    flex-wrap: wrap;

}

.works__item {
    height: 350px;
    width: 25%;
    position: relative;
    overflow: hidden;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: 0.2s linear;


    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
    background-color: rgba(232, 69, 69, 0.9);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;

    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}


/* Team
==================*/
.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: flex; 
    margin-left: 0 -15px; 
    flex-wrap: wrap;
}

.team__item {
    margin-bottom: 30px;

    width: 25%;
    padding: 0 15px;
}

.team__photo {
    margin-bottom: 20px;

    display: block;
    max-width: 100%;
    height: auto;

}

.team__name {
    margin-bottom: 8px;

    font-size: 22px;
    font-family: 'Raleway';
    color: #2d3033
}

.team__prof {
    margin-bottom: 15px;

    font-size: 13px;
    font-family: 'Raleway';
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
margin-bottom: 20px;

    font-size: 14px;
    font-family: 'Raleway';
    color: #6c7279;
    line-height: 1.5;
}

/* Social
==================*/

.social {
    display: flex;
}

.social__item {
    display: flex;

    margin-right: 4px;

    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    background-color: #fff;
    border: 1px solid #e8ecee;
    transition: 0.1s linear;

}

.social--footer .social__item {
    background: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}


.social__icon {
    display: block;
    height: 18px;

    fill: #c6cacc;

    transition: fill 0.1s linear;
}

.social--footer {
    justify-content: center;
}

.social--footer .social__icon {
    fill: #fff;
}

/* Reviews
==================*/
.reviews {
    overflow: hidden;
    background-color: #53354a;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    padding-left: 80px;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.reviews__text {
    margin-bottom: 25px;

    font-size: 36px;
    font-family: 'Cardo', 'sans-serif';
    font-style: italic;
    line-height: 1.2;

    color: #fff;
}

.reviews__author {
    font-size: 13px;
    font-family: 'Raleway';
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}


/* Download
==================*/
.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    margin-bottom: 10px;

    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}

.download__text {
margin-bottom: 30px;

    font-size: 13px;
    color: #2d3033;
    font-weight: 700;

    text-transform: uppercase;
}


/* Footer
==================*/
.footer {
    background-color: #3a3e64;
}

.footer__inner {
    padding: 70px 0;

    display: flex;
    flex-wrap: wrap;
}

.footer__block {
padding: 0 15px;

    width: 33.33333%;

    text-align: center;
}

.footer__title {
margin-bottom: 5px;

    font-size: 14px;
    font-weight: 700;

    color: #fff;

    text-transform: uppercase;
}

.footer__address {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
}


/* Copyright
==================*/
.copyright {
    background-color: #313454;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}

.copyright__text span {
    color: #fff;
}